pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspInsertBitacoraProceso]",
						"storedProcedureParameters": {
							"codigoCatalogo": {
								"type": "String",
								"value": {
									"value": "@concat('@','P1AXFD001')",
									"type": "Expression"
								}
							},
							"estado": {
								"type": "Boolean",
								"value": {
									"value": "@bool(0)",
									"type": "Expression"
								}
							},
							"fechaHoraInicio": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "dsBitacoraProceso",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspUpdateBitacoraProceso]",
					"storedProcedureParameters": {
						"codigoBitacoraProceso": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].codigoBitacoraProceso",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"codigoCatalogo": {
							"value": {
								"value": "@concat('@','P1AXFD001')",
								"type": "Expression"
							},
							"type": "String"
						},
						"estado": {
							"value": {
								"value": "@bool(1)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"fechaHoraFin": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DevSQLServerLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}